body {
	margin: 0;
	font-family: Arial, sans-serif;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: #000000;
	justify-content: center;
	align-items: center;
}



.header {
	/* background-color: #000000; */
	color: white;
	text-align: center;
	padding: 10px;
	/* font-family: "Protest Guerrilla", sans-serif; */

}

.logo {
	font-size: 200px;
	/* font-weight: bold; */
	/* width: 20%; */
	left: 2%;
	top: 2%;
	text-align: center;
	font-family: "Rubik Maze", system-ui;
	font-weight: 1;
	font-style: normal;

}

.main {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.center_container {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* Makes elements stack vertically */
	align-items: flex-start;
	/* Aligns labels and inputs to the left */
	justify-content: center;
	align-items: center;


}


.buttons_container {
	display: flex;
	gap: 20px;
	display: none;
}

.login_container {
	display: flex;
	/* display: none; */
	/* justify-content: center; */
}


.register_container {
	display: flex;
	display: none;
	/* justify-content: center; */
}


.auth_button {
	font-family: "Protest Guerrilla", sans-serif;
	width: 200px;
	height: 200px;
	/* background-color: #e0e0e0; */
	border: none;
	font-size: 52px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.auth_button:hover {
	background-color: #cccccc;
}

.center_container label {
	font-family: "Protest Guerrilla", sans-serif;
	display: block;
	margin-bottom: 5px;
	color: #ffffff;
	margin: 5px;
	font-size: 22px;
}

.center_container input {
	font-family: "Protest Guerrilla", sans-serif;
	width: 300%;
	padding: 10px;
	margin: 5px;
	box-sizing: border-box;
	display: block;
}

p {
	font-family: "Protest Guerrilla", sans-serif;
	display: block;
	color: #ffffff;
	font-size: 42px;
	align-content: left;
	padding: 10px;
	margin: 5px;
}