body {
	margin: 0;
	font-family: Arial, sans-serif;
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: #000000;
	justify-content: center;
	align-items: center;
}



.header {
	/* background-color: #000000; */
	color: white;
	text-align: center;
	padding: 10px;
	/* font-family: "Protest Guerrilla", sans-serif; */

}

.logo {
	font-size: 200px;
	/* font-weight: bold; */
	/* width: 20%; */
	left: 2%;
	top: 2%;
	text-align: center;
	font-family: "Rubik Maze", system-ui;
	font-weight: 1;
	font-style: normal;

}

.main {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

.center_container {
	font-family: "Protest Guerrilla", sans-serif;
	color: #ffffff;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	justify-content: center;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	/* Makes elements stack vertically */
	align-items: flex-start;
	/* Aligns labels and inputs to the left */
	justify-content: center;
	align-items: center;


}


.buttons_container {
	display: flex;
	gap: 20px;
}

.login_container {
	display: flex;
}


.register_container {
	display: flex;
}


.auth_button {
	font-family: "Protest Guerrilla", sans-serif;
	width: 200px;
	height: 200px;
	/* background-color: #e0e0e0; */
	border: none;
	font-size: 52px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.auth_button:hover {
	background-color: #cccccc;
}

.form-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
	width: 100%;
}

.center_container label {
	/* font-family: "Protest Guerrilla", sans-serif; */
	display: block;
	margin-bottom: 5px;
	margin: 5px;
	font-size: 22px;
}

.center_container input {
	font-family: "Protest Guerrilla", sans-serif;
	font-size: 22px;
	flex: 1;
	/* Make input field take up remaining space */
	min-width: 10%;
	padding: 10px;
	margin: 5px;
	box-sizing: border-box;
	display: block;
	border-radius: 4px;
}

p {
	/* font-family: "Protest Guerrilla", sans-serif; */
	display: block;
	/* color: #ffffff; */
	font-size: 52px;
	/* align-content: left; */
	/* padding: 10px; */
	margin: 5px;
}

.submit {
	font-family: "Protest Guerrilla", sans-serif;
	font-size: 32px;
	width: 20%;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	margin-top: 10px;
}

.submit:hover {
	background-color: #858585;
}


.hidden {
	display: none;
}