body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #000000;
}

canvas {
	display: block;
}

header {
	display: block;
	position: absolute;
	top: 10;
	font-family: 'Trebuchet MS', sans-serif;
}